body {
  background-color: rgb(107, 163, 157);
}

h2 {
  color: rgb(30, 80, 49);
  font-family: cursive;
  font-size: x-large;
}

#taskList {
  color: rgba(151, 25, 25, 0.876);
  background-color: rgb(160, 164, 165);
}

.complete {
  background-color: green;
}
